
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function getUserRole(uid) {
      return get(/databases/$(database)/documents/roles/$(uid)).data.role;
    }

    function isAdmin() {
      return isSignedIn() && getUserRole(request.auth.uid) == 'director';
    }

    function isExistingDocument() {
      return resource != null;
    }

    function isCreatingOwnDocument(fieldName) {
      return request.resource.data[fieldName] == request.auth.uid;
    }

    function isOwnershipImmutable(fieldName) {
      return request.resource.data[fieldName] == resource.data[fieldName];
    }
    
    // Rules for collections
    match /users/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isAdmin(); // Allow admins to list users
      allow create: if isOwner(userId);
      // An admin can update anything. A regular user can update their own profile, but cannot change their role.
      allow update: if isAdmin() || (isOwner(userId) && request.resource.data.role == resource.data.role);
      allow delete: if isAdmin(); // Allow admins to delete user profiles
    }
    
    match /roles/{userId} {
      allow get: if isAdmin();
      allow create, update: if isAdmin();
      allow list: if false; // Deny list for security
      allow delete: if isAdmin(); // Allow admins to delete role documents
    }

    match /authors/{authorId} {
      allow get, list: if true;
      allow create, update, delete: if isAdmin();
    }

    match /articles/{articleId} {
      allow get, list: if true;
      allow create, update, delete: if isAdmin();
    }
    
    match /donations/{donationId} {
      allow get: if isOwner(resource.data.userId) || isAdmin();
      allow list: if isAdmin();
      allow create: if isSignedIn() && isCreatingOwnDocument('userId');
      allow update: if isOwner(resource.data.userId) && isExistingDocument() && isOwnershipImmutable('userId');
      allow delete: if isOwner(resource.data.userId) && isExistingDocument();
    }
  }
}

    